<a asp-action="Appointments" asp-controller="Admin">
    <div>
        <div class="form-group">
            <input type="submit" value="Appointments" class="btn btn-outline-dark" />
        </div>
    </div>
</a>

<a asp-action="Patients" asp-controller="Admin">
    <div>
        <div class="form-group">
            <input type="submit" value="Patients" class="btn btn-outline-dark" />
        </div>
    </div>
</a>

<a asp-action="Offices" asp-controller="Admin">
    <div>
        <div class="form-group">
            <input type="submit" value="Offices" class="btn btn-outline-dark" />
        </div>
    </div>
</a>

<a asp-action="Doctors" asp-controller="Admin">
    <div>
        <div class="form-group">
            <input type="submit" value="Doctors" class="btn btn-outline-dark" />
        </div>
    </div>
</a>