@model QuickHealthy.PL.WebApp.Models.PatientRegisterViewModel

<form asp-action="PatientRegister" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="FirstName">Введите firstname: </label><br />
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName">Введите LastName: </label><br />
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName" />
        </div>
        <div>
            <label asp-for="CityOfBirth">Введите CityOfBirth: </label><br />
            <input type="text" asp-for="CityOfBirth" />
            <span asp-validation-for="CityOfBirth" />
        </div>
        <div>
            <label asp-for="BirthDate">Введите BirthDate: </label><br />
            <input type="date" asp-for="BirthDate" />
            <span asp-validation-for="BirthDate" />
        </div>
        <div>
            <label asp-for="Username">Введите username: </label><br />
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username" />
        </div>
        <div>
            <label asp-for="Password">Введите password: </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div><br />
            <input type="submit" value="Регистрация" class="btn btn-outline-dark" />
        </div>
    </div>
</form>