<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuickHealthyDatabase"
			 connectionString="Server=DESKTOP-4CIDVDT\SQLEXPRESS;Database=QuickHealthyDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>